* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #141e30, #243b55);
  font-family: "Segoe UI", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.player {
  width: 780px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.player h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  letter-spacing: 1px;
}

.layout {
  display: flex;
  gap: 25px;
}

.playlist {
  width: 230px;
  list-style: none;
  padding: 12px;
  max-height: 360px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 14px;
}

.playlist li {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 14px;
}

.playlist li:hover {
  background: rgba(255, 255, 255, 0.1);
}

.playlist li.active {
  background: #00d4ff;
  color: black;
  font-weight: bold;
}

.main-player {
  flex: 1;
  text-align: center;
}

.song-info {
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 500;
}

.time {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 5px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.controls button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  margin: 0 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.controls button:hover {
  transform: scale(1.2);
  color: #00d4ff;
}

.controls button.active {
  color: #00d4ff;
  transform: scale(1.2);
}

#play {
  font-size: 34px;
  color: #00d4ff;
}

input[type="range"] {
  width: 100%;
  margin: 10px 0;
  appearance: none;
  height: 6px;
  border-radius: 5px;
  background: #555;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #00d4ff;
  cursor: pointer;
  transition: 0.2s;
}

input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

#file-input {
  margin-bottom: 15px;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  cursor: pointer;
  border: none;
}

#file-input::file-selector-button {
  background: #00d4ff;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

#file-input::file-selector-button:hover {
  background: #00b5d6;
}

.playlist::-webkit-scrollbar {
  width: 6px;
}

.playlist::-webkit-scrollbar-thumb {
  background: #00d4ff;
  border-radius: 5px;
}

.playlist::-webkit-scrollbar-track {
  background: transparent;
}
